nav {
    background-color: #2B3E50;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
    display: block;
}

.img-small {
    width: 50%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

section {
    padding: 3rem 0;
}

footer {
    background-color: #3A546D;
}

.footer-img-rounded {
    font-size: 1.5rem;
    border-radius: 50%;
    padding: .3rem;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-footer {
    background-color: #2B3E50;
}

.my-form-underline {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.space-bar {
    height: .3rem;
    background-color: white;
    border-radius: 10px;
    width: 100px;
}

.space-bar-black {
    height: .3rem;
    background-color: black;
    border-radius: 10px;
    width: 100px;
}

