nav {
    background-color: #2B3E50;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

section {
    padding: 1.5rem 0;
}